a:link,
a:visited,
a:hover,
a:active {
    color: #4f4f4f;
    text-decoration: none;
}

#blogUiApp {
    position: fixed;
    left: 5px;
    top: 100px;
    width: 300px;
    height: 350px;
    z-index: 99;
}

.position {
    position: relative;
    height: 100%;
    width: 100%;
}

#blog-ui-main {
    position: absolute;
    cursor: pointer;
    box-shadow: 0 0 10px #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: 28px !important;
    height: 28px !important;
    z-index: 999 !important;
    /* opacity: 0.5; */
    animation: svgAnimation 15s infinite;
}

#blog-ui-main:hover {
    border-radius: 0px;
    box-shadow: 0 0 10px #fff;
    transition: all 0.5s;
    opacity: 1;
}

@keyframes svgAnimation {
    0% {
        transform: translate(0)
    }
  
    30% {
        transform: translateY(-5px)
    }
  
    50% {
        transform: translateY(0px)
    }
  
    70% {
        transform: translateY(-5px)
    }
  
    to {
        transform: translate(0)
    }
}

#blog-main {
    position: absolute;
    height: 100%;
    top: -10px;
    left: -3px;
    z-index:99;
    /* display: none; */
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    background-color: #fff;
    padding: 10px;
    font-size: 12px;
    color: #4f4f4f;
}

.blog-main-title {
    text-align: center;
    font-size: 18px;
    margin: 8px;
}

.blog-main-title a {
    font-weight: 700;
}

.blog-ui-foot {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: calc(100% - 20px);
    border-top: 1px solid #ddd;
}

.blog-ui-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.blog-ui-button-confirm {
    width: 60px;
    height: 30px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    outline: none;
    border-radius: 4px;
}

.blog-ui-button-confirm:hover {
    background: #104479;
    color: #fff;
    transition: all 0.5s;
}

.blog-ui-introduction {
    padding: 10px;
}

.blog-ui-setting {
    border-top: 1px solid #ccc;
}

.blog-ui-item-title {
    font-size: 16px;
    margin: 10px 0px;
}


.blog-ui-csdn {
    max-height: 190px;
    position: relative;
    overflow: hidden;
    white-space: nowrap
}

.blog-ui-csdn-main {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
}

.setting-item {
    display: flex;
    align-items: center;
    width: calc(50% - 20px);
    margin: 5px;
}

.form-check-label {
    margin-left: 10px;
}


.dis-none {
    display: none !important;
}
/* 
@media screen and (min-width: 0px) {
    .nodata .recommend-right {
        display: block !important;
    }
}

@media screen and (min-width: 0px) {

    .nodata #asidedirectory,
    .nodata #asideCategory,
    .nodata .isShowFooterAds {
        display: inline;
    }
} */


.dialog-dom {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: green;
    background-color: rgb(179, 232, 238);
    border-radius: 5px;
    z-index: 999;
    padding: 5px 15px;
    opacity: 0;
}

pre {
    -webkit-touch-callout: inherit !important;
    -webkit-user-select: inherit !important;
    -khtml-user-select: inherit !important;
    -moz-user-select: inherit !important;
    -ms-user-select: inherit !important;
    user-select: inherit !important;
}

code {
    -webkit-touch-callout: inherit !important;
    -webkit-user-select: inherit !important;
    -khtml-user-select: inherit !important;
    -moz-user-select: inherit !important;
    -ms-user-select: inherit !important;
    user-select: inherit !important;
}

.csdn-side-toolbar  {
    left:inherit !important;
    /* left: inherit; */
}

.passport-login-container {
    display: none;
}