a:link,
a:visited,
a:hover,
a:active {
    color: #4f4f4f;
    text-decoration: none;
}

#blog-ui-main {
    position: fixed;
    left: 0;
    top: 100px;
    cursor: pointer;
    box-shadow: 0 0 10px #ccc;
    border-radius: 5px;
    z-index: 100;
    background-color: #fff;
}

#blog-ui-main:hover {
    border-radius: 0px;
    box-shadow: 0 0 10px #fff;
    transition: all 0.5s;
}

#blog-main {
    position: fixed;
    left: 0;
    top: 40px;
    display: none;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    background-color: #fff;
    padding: 10px;
    font-size: 12px;
    color: #4f4f4f;
    z-index: 99;
    /* color: #ccc; */
}

.blog-main-title {
    text-align: center;
    font-size: 18px;
    margin: 10px;
}

.blog-ui-foot {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: calc(100% - 20px);
    border-top: 1px solid #ddd;
}

.blog-ui-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.blog-ui-button-confirm {
    width: 60px;
    height: 30px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    outline: none;
    border-radius: 4px;
}

.blog-ui-button-confirm:hover {
    background: #104479;
    color: #fff;
    transition: all 0.5s;
}

.blog-ui-introduction {
    padding: 10px;
}

.blog-ui-setting {
    border-top: 1px solid #ccc;
}

.blog-ui-item-title {
    font-size: 14px;
    font-weight: 800;
    margin: 10px 0px;
}

.blog-ui-csdn-main {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
}

.setting-item {
    width: calc(50% - 20px);
    margin: 5px;
}

svg {
    width: 30px !important;
    height: 30px !important;
    z-index: 100;
}

.dis-none {
    display: none !important;
}

@media screen and (min-width: 0px) {
    .nodata .recommend-right {
        display: block !important;
    }
}

@media screen and (min-width: 0px) {
    .nodata #asidedirectory, .nodata #asideCategory, .nodata .isShowFooterAds {
        display: inline;
    }
}
